<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBe4x5toAJEWGZ7m3j70zs9FK3g2ODxiCU</string>
	<key>GCM_SENDER_ID</key>
	<string>224943458926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bestwaytoproceedfront</string>
	<key>PROJECT_ID</key>
	<string>bestwaytoproceed</string>
	<key>STORAGE_BUCKET</key>
	<string>bestwaytoproceed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:224943458926:ios:1cae748a9238287ef2747f</string>
</dict>
</plist>